html {
  --text-colour: #FFFFFF;
  --sub-text-colour: #FFF5FF;
  --link-colour: #14FFEC;
  --background-colour: #212121;
  --sub-bg-colour: #323232;
  --border-colour: #323232;
  --accent-light: #14FFEC;
  --accent-dark: #0D7377;
  --gradation-bg: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-huge: 18px;
  --heading-size-tiny: 16px;
  --heading-size-small: 20px;
  --heading-size-medium: 24px;
  --heading-size-large: clamp(18px, 22 / 426 * 100vw, 22px);;
}

/* md: */
@media (min-width: 768px) {
  html {
    --font-size-tiny: 12px;
  }
}

/* lg: */
@media (min-width: 1024px) {
  html {
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-huge: 20px;
    --heading-size-tiny: 20px;
    --heading-size-small: 22px;
    --heading-size-medium: 26px;
    --heading-size-large: 28px;
  }
}

/* xl: */
@media (min-width: 1280px) {
  html {
    --font-size-tiny: 12px;
  }
}

/* 2xl: */
@media (min-width: 1536px) {
  html {
    --font-size-tiny: 12px;
  }
}

html.light {
  --text-colour: #212121;
  --background-colour: #FFF5FF;
}

html {
  color: var(--text-colour);
  background-color: var(--background-colour);
}

body {
  font-size: 16px;
  font-weight: 500;
  font-family:  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
}

a {
  color: var(--link-colour);
}