---
import { contentfulClient } from '@/lib/contentful'
import { Image } from 'astro:assets'
import type { AssetFields } from 'contentful'
import lib from 'zenn-markdown-html'

// layout
import Layout from '@layouts/Layout.astro'

// types
import type { InsightSkeleton } from '@/lib/contentful'

// global style
import '@/styles/global.css'
import '@/styles/body-copy.scss'

type MarkdownHtml = (text: string, options?: {}) => string
type MarkdownHtmlAtBuild = { default: MarkdownHtml }

let markdownHtml: MarkdownHtml = lib

if (typeof lib !== 'function') {
  markdownHtml = (lib as MarkdownHtmlAtBuild).default
}

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<InsightSkeleton>({
    content_type: 'insight',
  })

  const pages = entries.items.map(item => ({
    params: { slug: item.fields.slug },
    props: {
      heading: item.fields.primaryHeading,
      heroImage: item.fields.heroImage as { fields: AssetFields },
      body: item.fields.body,
    },
  }))

  return pages
}
const { heading, heroImage, body } = Astro.props
const html = markdownHtml(body, {
  embedOrigin: 'https://embed.zenn.studio',
})
---

<Layout title={`${heading} | Takayasu Nasu | insight`} description="">
  <article>
    <figure>
      {
        heroImage.fields.file && (
          <Image
            src={heroImage.fields.file.url}
            width={heroImage.fields.file.details.image?.width || 200}
            height={heroImage.fields.file.details.image?.height || 100}
            alt={`Hero`}
            class="object-cover w-full h-full"
          />
        )
      }
    </figure>

    <h1 class="font-bold">{heading}</h1>

    <div class="body-copy">
      <Fragment set:html={html} />
    </div>
  </article>
</Layout>

<style lang="scss">
  article {
    margin-inline: auto;
    width: 94%;

    @media (min-width: 768px) {
      width: 688px;
    }

    @media (min-width: 1024px) {
      width: 620px;
    }
  }
  figure {
    margin-inline: calc(50% - 50vw);
    aspect-ratio: 39/20;

    @media (min-width: 1024px) {
      margin-top: 48px;
      margin-inline: unset;
    }
  }

  h1 {
    margin-top: min(14vw, 64px);
    font-size: var(--heading-size-large);
  }

  div.body-copy {
    margin-top: 36px;
  }
</style>
