---
// layout
import Layout from '@layouts/Layout.astro'

// library
import { contentfulClient } from '@/lib/contentful'

// types
import type { InsightSkeleton, SiteMetaSkeleton } from '@/lib/contentful'

// components
import Hero from '@/components/Hero.astro'
import Info from '@/components/Info.astro'
import Timeline from '@/components/Timeline.astro'

// global style
import '@/styles/global.css'

const entriesSiteMeta = await contentfulClient.getEntries<SiteMetaSkeleton>({
  content_type: 'siteMasta',
})

const masta = entriesSiteMeta.items.find(item => item.fields.name == 'Masta')?.fields
const description = masta?.data?.find(c => c.key == 'description')?.value

const entriesInsight = await contentfulClient.getEntries<InsightSkeleton>({
  content_type: 'insight',
})

const posts = entriesInsight.items.map(item => {
  const { name, slug, heroImage, featured, primaryHeading, publishedDate } = item.fields
  return {
    name,
    slug,
    heroImage,
    featured,
    primaryHeading,
    publishedDate,
  }
})
---

<Layout title="Takayasu Nasu | insight" description={description}>
  <Hero />

  <ul class="contents-list lg:grid">
    <li>
      <Info {...{ type: 'index', createBy: '那須 毅康(Takayasu Nasu - Tack)' }} />
    </li>
    <li class="timeline-wrapper">
      <Timeline {...{ posts }} />
    </li>
  </ul>
</Layout>

<style lang="scss">
  ul.contents-list {
    column-gap: 36px;
    margin-inline: auto;
    margin-top: -32px;
    width: 94%;

    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 384px auto;
      margin-top: 32px;
      width: min(94%, 1356px);
    }
  }

  li.timeline-wrapper {
    container: timeline-wrapper/inline-size;
  }
</style>
