---
// layout
import Layout from '@layouts/Layout.astro'

// library
import { contentfulClient } from '@/lib/contentful'

// types
import type { InsightSkeleton, SiteMetaSkeleton } from '@/lib/contentful'

// global style
import '@/styles/global.css'

const entriesSiteMeta = await contentfulClient.getEntries<SiteMetaSkeleton>({
  content_type: 'siteMasta',
})

const masta = entriesSiteMeta.items.find(item => item.fields.name == 'Masta')?.fields
const description = masta?.data?.find(c => c.key == 'description')?.value

const entriesInsight = await contentfulClient.getEntries<InsightSkeleton>({
  content_type: 'insight',
})

const posts = entriesInsight.items.map(item => {
  const { name, slug } = item.fields
  return {
    name,
    slug,
  }
})
---

<Layout title="Takayasu Nasu | note" description={description}>
  <h1>Note</h1>

  <ul class="font-black">
    <li>setting up esling</li>
    <li>make alias path</li>
    <li>add tailwindcss</li>
  </ul>

  <ul class="posts">
    {
      posts.map(post => {
        return (
          <li>
            <a href={`/n/${post.slug}`}>
              {post.name} - {post.slug}
            </a>
          </li>
        )
      })
    }
  </ul>
</Layout>
