---
import { contentfulClient } from "../lib/contentful";

interface SiteMeta {
    name: string,
    data: Array<{key: string; value: string}>
}

const entries = await contentfulClient.getEntries<SiteMeta>({
  content_type: "siteMasta",
});
const masta = entries.items.find((item) => item.fields.name == 'Masta')?.fields
const description = masta?.data.find((c) => c.key == 'description')?.value
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Note -- Create, Connect, and Provide.</title>
		<meta name="description" content={description}>
	</head>
	<body>
		<h1>Note</h1>
	</body>
</html>
