---
import { Image } from 'astro:assets'

// components
import ButtonLink from '@/components/Reusable/ButtonLink.astro';

// assets
import logo from '@/assets/images/logo-light.svg'
---

<header id="global-header">
  <ul class="nav flex justify-between">
    <li class="logo">
      <a href="/" class="logo inline-block">
        <figure class="w-max">
          <Image src={logo} width={86} height={20} alt={`Insight`} />
        </figure>
      </a>
    </li>

    <li>
      <ButtonLink
        href="https://www.i-nasu.com/"
        target="_blank"
        type="external">Creative</ButtonLink>
    </li>
  </ul>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-block: 12px;
    padding-inline: 16px;

    @media (min-width: 768px) {
      padding-block: 16px;
      padding-inline: 24px;
    }

    background-color: var(--sub-bg-colour);
    transition: 0.4s;

    &.sticky-hide {
      position: static;
      top: -76px;
    }
  }
</style>

<script>
const globalHeader = document.getElementById('global-header')
let scrollPoint = 0
let lastPoint = 0

window.addEventListener('scroll', () => {
  if (!globalHeader) return

  scrollPoint = window.scrollY

  if (scrollPoint > lastPoint) {
    globalHeader.classList.add('sticky-hide')
  } else {
    globalHeader.classList.remove('sticky-hide')
  }

  lastPoint = scrollPoint
})
</script>
