---
import Card from '@/components/Card.astro'
import type { Post } from '@/lib/contentful'

interface Posts extends Array<Post> {}

export interface Props {
  posts: Posts
}

let { posts } = Astro.props
const maped = posts.map((data, i) => ({
   i,
   value: data.featured,
   date: data.publishedDate || Date(),
  }))

posts = maped
  .sort((a, b) => {
    if (new Date(a.date) < new Date(b.date)) return 1
    if (new Date(a.date) > new Date(b.date)) return -1
    return 0
  })
  .map(v => posts[v.i])

const featured = posts.filter(p => p.featured)
const unFeatured = posts.filter(p => !p.featured)
posts = [...featured, ...unFeatured]
---

<ul class="timeline grid gap-6">
  {
    posts.map(post => {
      return (
        <li>
          <Card {...{ post }} />
        </li>
      )
    })
  }
</ul>

<style lang="scss">
  ul.timeline {
    @container timeline-wrapper (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @container timeline-wrapper (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
